


div {
  width: vw;
  height: calc(100vh - 64px);
}

section.controls {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  bottom: 25px;
  right: 20px;
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #e2e8f0;
  width: 250px;
}
