<div class="hero min-h-screen"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold text-slate-50">Hola, Country App</h1>
      <p class="mt-5 text-slate-300">
        Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
        quasi. In deleniti eaque aut repudiandae et a id nisi.
      </p>
      <button
        routerLink="/country/capital"
        class="btn btn-primary mt-5 text-slate-100 text-lg">
        Empezar
      </button>
    </div>
  </div>
</div>
