

<nav class="navbar bg-base-200 shadow-sm">
  <li class="flex">
    <a
      routerLink="/"
      routerLinkActive="link"
      [routerLinkActiveOptions]="{exact: true}"
      class="btn btn-ghost text-xl">
      Counter
    </a>
  </li>
  <li class="flex">
    <a
      routerLink="/hero"
      routerLinkActive="link"
      class="btn btn-ghost text-xl">
      Hero
    </a>
  </li>
  <li class="flex">
    <a
      routerLink="/dragon-ball"
      routerLinkActive="link"
      class="btn btn-ghost text-xl">
      Dragon Ball
    </a>
  </li>
  <li class="flex">
    <a
      routerLink="/dragon-ball-super"
      routerLinkActive="link"
      class="btn btn-ghost text-xl">
      Dragon Ball Super
    </a>
  </li>
</nav>
